.body{
    font-family: 'PT Serif';
}

.all{
    min-width: 499px !important;
}

.dashboard {
    width: 100%;
    position: relative;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: top center;
    padding-bottom: 57%;
}

.dashboard .back {
    position: absolute;
    width: 100%;
}

.dashboard .logo-wrapper{
    position: absolute;
    width: 70%;
}

.dashboard .logo-wrapper .sticker{
    left: 20px;
    position: absolute;
    height: 100%;
    transition: 0.6s;
}

.dashboard .logo-wrapper .name{
    position: relative;
    left: 60px;
    width: 50%;
    transition: 0.8s;
}

.dashboard .logo-wrapper .bio{
    position: relative;
    margin-left: 70px;
    width: 80%;
    font-size: 20px;
    color: white;
    transition: 0.6s;
}

.dashboard .logo-wrapper .contact{
    position: relative;
    margin-left: 70px;
    margin-top: 20px;
    transition: 0.6s;
}

.btn_submit {
    cursor: pointer;
    padding: 20px;
    font-size: 16px;
    font-weight: 325;
    line-height: 19px;
    letter-spacing: 0.12em;
    color: #FFF;
    background-color: #FF0000;
    border: none;
    position: relative;
    z-index: 10;
    font-size: 25px;
    font-family: 'sans serif';
    transition: 0.6s;
}

.btn_submit::after {
    content: '';
    position: absolute;
    top: 15px;
    left: -12px;
    width: 106%;
    height: 100%;
    background-image: url('../images/button_outline.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: 2;
}

.fixed_menu {
    position: fixed;
    top: 0px;
    right: 50px;
    z-index: 999;
}

.custom-dropdown .dropdown-toggle {
    background-color: #ff0000;
    color: white;
    border: none;
    cursor: pointer;
}

.custom-dropdown .dropdown-toggle:hover,
.custom-dropdown .dropdown-toggle:focus {
    background-color: #ff0000;
}

.custom-dropdown .dropdown-menu {
    background-color: #ff0000;
    border: none;
    border-radius: 0.25rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transition: 0.8s;
    margin-top: -2px;
    animation: slideDown 0.5s ease-out;
}

@keyframes slideDown {
    from {
      max-height: 0;
      opacity: 0;
    }
    to {
      max-height: 1000px;
      opacity: 1;
    }
  }

.custom-dropdown .dropdown-menu a {
    color: white;
    margin: 0px !important;
    padding: 0px 10px 0px 10px !important;
    font-size: 24px;
    
}

.custom-dropdown .dropdown-menu a:hover,
.custom-dropdown .dropdown-menu a:focus {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

.custom-dropdown .divider {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    margin: 0px;
    border-bottom: 1px solid white;
    margin: 0px 10px 0px 10px !important;
    padding: 0px !important;
}

.three-dots {
    margin: 10px;
    font-size: 20px;
    width: 40px;
}

.font-italic {
    font-style: italic;
}
.font-normal {
    font-style: normal;
}
.row-gray {
    background-color : #eeeeee;
}

.video-block {
    display: flex;
    float: right;
}
.myRow {
    padding: 50px;
}
.section-title {
    margin-bottom: 30px;
}
.mb-20 {
    margin-bottom: 20px;
}
.brown {
    background-color: #F4F1E6;
    padding: 10px;
    overflow: auto;
    min-height: 240px;
}

.my-block {
    padding: 0px 5px;
    margin-bottom: 20px;
}
.block-image {
    float: right;
    width: 44%;
}
.block-title {
    margin-top: 100px;
    font-size: 20px;
}
.block-content {
    left: 20px;
}

.returnbtn {
    color: black;
    font-size: 20px;
}
.gray { 
    background-color: #F8F8F2;
}
.about_section {
    
    padding: 20px;
}

.hidden-Hello{
    font-size: 0px;
}

.hidden_Bio{
    display: none;
}

.videos{
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0px 20px 0px 20px;
}

.video-pc-title {
    font-size: 40px;
    margin-top: 60px;
    margin-bottom: 40px;
    font-weight: bold;
    font-family: 'PT Serif';
    color: black;
}

.video-pc-content {
    margin-top: 20px;
    font-family: 'Helvetica Now Display';
    font-size: 18px;
    margin-bottom: 50px;
    color: black;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    
  }
  
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .video-mobile{
    display: none;
  }

  .video-pc{
    display: block;
  }

  .video-video{
    margin-top: 70px;
    background-image: url('../images/video.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 30px 30px 50px 50px !important;
    transition: 0.7s;
  }

  .video-middle-btn{
    margin: 0px 100px;
  }

  .services {
    position: relative;
    margin: 20px;
    padding: 20px;
  }

  .services .title{
    font-size: 40px;
    margin-top: 60px;
    margin-bottom: 40px;
    font-weight: bold;
    font-family: 'PT Serif';
    color: black;
  }

  .box{
    border: 10px solid white;
    height: 300px;
    padding: 20px;
    background-color: #F4F1E6;
    transition: 0.6s;
  }

  .box .title2{
    position: absolute;
    top: 20px;
  }

  .box .detail_title{
    position: absolute;
    top: 170px;
    font-size: 30px;
  }

  .box .detail{
    position: absolute;
    top: 230px;
  }

  .box .logo{
    position: absolute;
    right: 20px;
    top: 20px;
    width: 50%;
  }

  .footer {
    margin-top: 100px;
    background-color: #D9D9D9;
    padding: 40px 30px 20px 30px;
  }

  .black-line {
    
  }

  .section-title::before {
    display: inline-block;
    background-image: url(../images/black-line-horizontal.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 85%;
    margin: 0;
    height: 20px;
  }

  .hidden-img {
    display: none;
  }

  .shown-img {
    display: block;
  }

  ul li:not(.ul_menu li)::before {
    content: "";
    background: black;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 3.5px;
    height: 3.5px;
}
.p-20 {
    padding: 20px;
}

.section-line::after {
    background-image: url(../images/black-line-horizontal.png);
}

.aside-form {
  max-width: 50%;
}

.email {
  color: black;
}

form {
  display: grid;
  background-color: #eee;
  gap: 24px;
  padding: 24px;
}

.form__content {
  display: grid;
  gap: 12px
}


.btn_submit {
  cursor: pointer;
  padding: 20px;
  font-size: 16px;
  font-weight: 325;
  line-height: 19px;
  letter-spacing: 0.12em;
  color: #FFF;
  background-color: #FF0000;
  border: none;
  font-family: 'sans serif';
  transition: 0.6s;
}

.elegant {
    font-family: 'PT Serif';
}
  

@media screen and (max-width:1220px) {

    .video-video{
        margin-top: 100px;
        padding: 10px;
    }

    .dashboard .logo-wrapper .bio{
        position: relative;
        margin-left: 50px;
        width: 120%;
        font-size: 16px;
        color: white;
    }
    .dashboard .logo-wrapper .contact{
        position: relative;
        margin-left: 50px;
        margin-top: 20px;
    }
    .shown-img {
        display: block;
    }
}

@media screen and (max-width:990px) {
    .videography_info {
        display: inline;
        float: right;
    }
    .featuredproject-title {
        display: inline;
    }
    .videography_content {
        margin-top: 50px;
    }
    .specialbtn-p {
        margin-top: 30px;
    }

    .hidden-img {
        display: block;
        float: left;
        margin-right: 20px;
    }
    .shown-img {
        display: none;
    }
}

@media screen and (max-width:900px) {

    .video-video{
        margin-top: 150px;
        padding: 10px;
        padding: 20px 20px 30px 30px !important;
    }

    .dashboard .logo-wrapper .bio{
        position: relative;
        margin-left: 30px;
        width: 120%;
        font-size: 14px;
        color: white;
    }

    .dashboard .logo-wrapper .sticker{
        left: 10px;
        position: absolute;
        height: 80%;
    }

    .dashboard .logo-wrapper .name{
        position: relative;
        left: 30px;
        width: 40%;
    }

    .dashboard .logo-wrapper .contact{
        position: relative;
        margin-left: 30px;
        margin-top: 20px;
        transform: scale(0.7, 0.7) translate(-50px, -20px);
    }

    .boat {
        display: none;
    }

}

@media screen and (max-width:768px) {

    .video-video{
        margin-top: 50px;
        padding: 10px;
    }
    .half {
        width: 50%;
        display: table-cell;
    }
}

@media screen and (max-width:650px) {

    .video-video{
        margin-top: 40px;
        padding: 10px;
    }

    .dashboard .logo-wrapper .sticker{
        left: 5px;
        position: absolute;
        top: -10px;
        height: 60%;
    }

    .dashboard .logo-wrapper .name{
        position: relative;
        left: 20px;
        width: 40%;
    }

    .dashboard .logo-wrapper .bio{
        position: relative;
        margin-left: 20px;
        width: 130%;
        color: white;
        font-size: 12px;
    }

    .dashboard .logo-wrapper .contact{
        position: relative;
        margin-left: 90px;
        margin-top: 20px;
        transform: scale(0.5, 0.5) translate(-230px, -55px);
    }

    .box .detail_title{
        position: absolute;
        top: 140px;
        font-size: 20px;
    }
    
    .box .detail{
        position: absolute;
        top: 180px;
    }

    .box .logo{
        position: absolute;
        right: 20px;
        top: 40px;
        width: 60%;
    }
}
@media screen and (max-width:500px) {
    .video-video{
        margin-top: -30px;
        padding: 10px;
    }
    .dashboard {
        width: 100%;
        position: relative;
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position: top center;
        padding-bottom: 150%;
    }

    .dashboard .back {
        position: absolute;
        top: 150px;
        width: 100%;
    }

    .dashboard .logo-wrapper .sticker{
        left: 10px;
        position: absolute;
        top: -10px;
        height: 80%;
    }

    .dashboard .logo-wrapper .name{
        position: relative;
        margin-top: 150px;
        left: 40px;
        width: 70%;
    }

    .dashboard .logo-wrapper .bio{
        display: none;
    }

    .dashboard .logo-wrapper .contact{
        display: none;
    }

    .fixed_menu {
        position: fixed;
        top: 20px;
        right: 0px;
        z-index: 999;
    }

    .hidden-Hello{
        position: absolute;
        top: 60px;
        left: 30px;
        font-size: 65px;
        font-family: 'sans serif';
    }

    .hidden_Bio{
        display: block;
        position: absolute;
        top: 450px;
    }

    .hidden_Bio .bio{
        font-size: 20px;
        padding: 10px;
    }

    .contact_mobile {
        margin: 20px 130px;
    }

    .video-mobile{
        display: block;
    }

    .video-pc{
        display: none;
    }
}